
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" integrity="sha384-NAifrtbJwcoqjYqhfos40lsRt+O6K5TClF4FjW02ZswKdcD2H3gZN3KA1I3ZxYEM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>
<body>
    <form id="form_register">
        <h1>Welcome</h1>
        ID : <br>
        <input type="text" name="ID" placeholder="아이디" required> <br>
        PASSWORD : <br>
        <input type="password" name="PW" placeholder="비밀번호" required> <br>
        NAME : <br>
        <input type="text" name="name"><br>
        <div class="register-btn">
            <button type="button" onclick="register()">Register</button><br>
        </div>
        <a href="./login.ejs" id="next">login</a>

    </form>
    <script>
        function register(){
            let form = document.getElementById('form_register');
            let data = {
                ID : form.ID.value,
                PW : form.PW.value,
                name : form.name.value
            };
            axios({
                method : 'post',
                url : '/register',
                data : data
            })
            .then((rep) => {return rep.data;} )
            .then((data) => {
                    alert("회원가입 성공");
                    document.location.href="/login";
                });
            }
    </script>
</body>
</html>